body {
font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BEDCFE;
    background-image: url('images/background.jpg');
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    width: 300px;
    height: 200px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 5px #8c8b8b;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.login-button, .flip-button, .default-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #85BDA6;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.login-button:hover, .flip-button:hover, .default-button:hover {
    background-color: #6C9C8F;
}

#propertyManagerLink, #flipToRenterLink, #hyperLink {
    text-decoration: none;
    color: #3E885B;

}

#propertyManagerLink:hover, #flipToRenterLink:hover, #hyperLink:hover {
    text-decoration: underline;
}

/* Style for the select dropdown */
.select-style {
    width: 15%; /* Set the width of the select dropdown */
    padding: 8px; /* Add padding inside the select */
    border: 1px solid #ccc; /* Add border around the select */
    border-radius: 4px; /* Add border radius to round the corners */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Show pointer cursor on hover */
    background-color: #fff; /* Set background color */
}

/* Style for the options within the dropdown */
.select-style option {
    padding: 8px; /* Add padding inside each option */
}
